@import "tailwindcss";
@tailwind utilities;



/* 🪄 Custom Utilities */
@layer utilities {

    @keyframes gradientAnimation {
        0% {
            background-position: 0% 50%;
        }
        25% {
            background-position: 50% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        75% {
            background-position: 50% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
}



.cta-text-gradient {

    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image:
            linear-gradient(90deg,rgba(55, 0, 255, 1) 1%, rgba(0, 255, 221, 1) 100%);
}

/* Responsive tweak */
@media (max-width: 768px) {
    .cta-text-gradient {
        font-size: 2.5em;
    }
}

.container-aboutUs {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95%; /* Adjust height as needed */
    width: 95%; /* Adjust width as needed */
    border: 1px solid black; /* For demonstration */
    flex-direction: column;
    padding-top: 30px;
}

.centered-div-aboutUs {
    height: 95%; /* Adjust height as needed */
    width: 95%; /* Adjust height as needed */

    align-items: center;
    color: black;
    background: linear-gradient(90deg,rgba(55, 0, 255, 1) 0%, rgba(5, 255, 222, 1) 100%);
    background-size: 300% 300%;
    animation: gradientAnimation 10s ease infinite;

    border-radius: 20px;
    overflow: hidden;


}

.comic-relief-regular {
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
}

.comic-relief-bold {
    font-family: "Comic Relief", system-ui;
    font-weight: 700;
    font-style: normal;

}

/* Landing-Page.css */
/* ... other styles ... */

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px); /* Adjust based on your navbar height */
    box-sizing: border-box;
}



.floating-effect {
    /* ✨ Floating effect */
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5),
    0 0 30px rgba(255, 255, 255, 0.3),
    0 0 60px rgba(132, 94, 194, 0.5);

}









